#!/bin/sh

# Confirm exit with Y/N
function confirm_exit() {
    read -rp "Do you really want to exit? (y/n): " choice
    case "$choice" in
        [Yy])
            echo "Exiting..."
            exit 0
            ;;
        *)
            echo "Resuming..."
            ;;
    esac
}

# Trap Ctrl-C and call the confirmation function
function ctrl_c() {
    confirm_exit
}

trap ctrl_c SIGINT
{{ $tmuxPath := (output "which" "tmux") }}
path={{- $tmuxPath -}}
no_of_terminals=$($path list-sessions | wc -l)
IFS=$'\n'
output=($($path list-sessions))
output_names=($($path list-sessions -F\#S))
k=1
echo "Choose the terminal to attach: "
for i in "${output[@]}"; do
  echo "$k - $i"
  ((k++))
done
echo
echo "Create a new session by entering a name for it"
read -r input
if [[ $input == "" ]]; then
  $path new-session
elif [[ $input == 'nil' ]]; then
  exit 1
elif [[ $input =~ ^[0-9]+$ ]] && [[ $input -le $no_of_terminals ]]; then
  terminal_name="${output_names[input - 1]}"
  $path attach -t "$terminal_name"
else
  $path new-session -s "$input"
fi
ext 0
