{{ if lookPath "op" }}
export OPENROUTER_API_KEY={{ onepasswordRead "op://Personal/OPENROUTER_API_KEY/credential" }}
export HF_TOKEN={{ onepasswordRead "op://Personal/HuggingFace API key/credential" }}
export RUNPOD_API_KEY={{ onepasswordRead "op://Personal/RunPod API key/credential" }}
export DOCKER_ACCESS_TOKEN={{ onepasswordRead "op://Personal/Docker access token/password" }}
export PSI_API_KEY={{ onepasswordRead "op://Personal/PSI_API_KEY/credential" }}
export CF_ACCESS_CLIENT_ID={{ onepasswordRead "op://Personal/CF_ACCESS_CLIENT_ID/credential" }}
export CF_ACCESS_CLIENT_SECRET={{ onepasswordRead "op://Personal/CF_ACCESS_CLIENT_SECRET/credential" }}
{{ else }}
export OPENROUTER_API_KEY=
export HF_TOKEN=
export RUNPOD_API_KEY=
export DOCKER_ACCESS_TOKEN=
export PSI_API_KEY=
export CF_ACCESS_CLIENT_ID=
export CF_ACCESS_CLIENT_SECRET=
{{ end }}
