{{ if lookPath "op" }}
TRELLO_TOKEN={{ onepasswordRead "op://work/TRELLO ACCESS TOKEN/credential" }}
TRELLO_API_KEY={{ onepasswordRead "op://work/TRELLO API KEY/credential" }}
export OPENAI_API_KEY={{ onepasswordRead "op://work/openai/API-key" }}
OPENROUTER_API_KEY={{ onepasswordRead "op://personal/OPENROUTER_API_KEY/credential" }}
HF_TOKEN={{ onepasswordRead "op://Personal/HuggingFace API key/credential" }}

{{ else }}
TRELLO_TOKEN=
TRELLO_API_KEY=
export OPENAI_API_KEY=
OPENROUTER_API_KEY=
HF_TOKEN=
{{ end }}
