TRELLO_TOKEN={{ onepasswordRead "op://work/TRELLO ACCESS TOKEN/credential" }}
TRELLO_API_KEY={{ onepasswordRead "op://work/TRELLO API KEY/credential" }}

# TIED TO TIETOEVRY ACCOUNT, USE WITH CAUTION
export OPENAI_API_KEY={{ onepasswordRead "op://work/openai/API-key" }}
